---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Clients from '../components/Clients.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Quote from '../components/Quote.astro';
import Industries from '../components/Industries.astro';
import Projects from '../components/Projects.astro';
import Compliance from '../components/Compliance.astro';
import CtaBanner from '../components/CtaBanner.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navigation />
	<main>
		<Hero />
		<Clients />
		<Services />
		<Projects />
		<Industries />
		<Compliance />
		<About />
		<Quote />
		<CtaBanner />
		<Contact />
	</main>
	<Footer />
</Layout>
